body {
    background: #fff;
  }
  
  .dino {
    position: absolute;
    bottom: 0;
    background-image: url(dino.png);
    width: 60px;
    height: 60px;


  }
  .rollando {
        animation: spin 0.7s;
        -webkit-animation: spin 0.7s;
        animation-timing-function: linear;

  }
  
  .cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(cactus.png);
  }
  
  .game-over {
    color: #666;
    margin: 50px 5px 0 50px;
    font-family: arial;
  }

  button {
    width: 200px;
    height: 60px;
    margin: 50px 0 0 50px;
    color: #666;
    font-family: arial;
    outline: none;
    border-radius: 8px;
  }
  
  @keyframes slideright {
    from {
        background-position: 60000%;
    }
    to {
        background-position: 0%;
    }
  }
  
  @keyframes spin {
    0% {
        transform: rotate(0deg);
    } 
    100% {
        transform: rotate(360deg);   
    }    
  }

  
  .background {
    position: absolute;
    bottom: 0px;
    background-image: url('background.png');
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    -webkit-animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
  }

h2, h3{
    text-align: center;
    margin-top: 5vh;
    color: #666;
    font-family: arial;
}

